body {
  margin: 0;
  height: 100vh;
  background: #c9f7c9; /* light green bg */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* box */
.container {
  width: 360px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* cartoon area (box ke andar hi) */
.cartoon {
  height: 70px;              /* chhota cartoon */
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;        /* hand isi ke andar rahe */
}

/* head */
.head {
  width: 36px;
  height: 36px;
  background: #ffcc99;
  border-radius: 50%;
}

/* body */
.body {
  width: 26px;
  height: 28px;
  background: #3498db;
  border-radius: 6px;
}

/* hand (still inside cartoon box) */
.hand {
  position: absolute;
  width: 28px;
  height: 6px;
  background: #ffcc99;
  border-radius: 5px;
  top: 42px;
  left: 55%;
}

/* input */
#ip {
  padding: 10px;
  width: 200px;
  font-size: 16px;
  margin-bottom: 10px;
}

/* button */
#btn {
  padding: 10px 22px;
  background: #2ecc71;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

#btn:hover {
  background: #27ae60;
}

/* output */
#output {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}
